@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web

<Router AppAssembly="@typeof(AppRoot).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="typeof(IntelliMed.UI.Layout.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(IntelliMed.UI.Layout.MainLayout)">
            <h1>Not found</h1>
        </LayoutView>
    </NotFound>
</Router>
